.movie-info {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    width: 600px;
}

.movie-info h2 {
    font-family: 'Bebas Neue';
    word-break: break-all;
    font-size: 5rem;
    margin: 0;
    letter-spacing: 0.2ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: typing 5s steps(30, end) forwards;
}

.movie-info p {
    margin: 8px 0;
    word-break: break-all;
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

button {
    margin-right: 15px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.movie-info .watch-button {
    background: #e50914;
}

.movie-info .info-button {
    background: #969696;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .movie-info {
        width: 100%;
        padding: 10px;
    }

    .movie-info h2 {
        font-size: 24px;
    }

    .movie-info p {
        font-size: 14px;
    }

    .watch-button,
    .info-button {
        margin-right: 10px;
    }
}
