/* Navbar.css */

.navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1ch;
    color: #fff;
}

.navbar__left {
    flex: 0.2;
    margin-left: 2rem;
}

.navbar__logo {
    width: 100px;
    object-fit: contain;
}

.navbar__center {
    flex: 0.6;
    display: flex;
    justify-content: space-around;
}

.navbar__links {
    list-style: none;
    display: flex;
}

.navbar__link {
    margin: 0 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar__link:hover {
    color: #e50914;
}

.navbar__right {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
}

.navbar__icon {
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
    background: transparent;
    border: none;
}

.navbar__icon:hover {
    color: #e50914;
}
