.video-container {
    padding-bottom: 56.25%;
    position: relative;
    overflow-x: hidden;
}
#youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

#youtube-player iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1.5);
}

/* Hide the video title */
#youtube-player .ytp-chrome-top {
    display: none;
}
