#arrowAnim {
    width: 3vw;
    height: 3vw;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow {
    width: 2.5vw;
    height: 2.5vw;
    border: 1.25vw solid;
    border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
    transform: rotate(-45deg);
    transition: all 0.2s ease-out;
}

.arrow:hover {
    border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
    transform: rotate(-45deg) scale(1.2);
}

.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(3vw);
    }
    20% {
        opacity: 1;
        transform: translateX(1.8vw);
    }
    80% {
        opacity: 1;
        transform: translateX(-1.8vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-3vw);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(3vw);
    }
    20% {
        opacity: 1;
        transform: translateX(1.8vw);
    }
    80% {
        opacity: 1;
        transform: translateX(-1.8vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-3vw);
    }
}
